@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format('woff2'),
         url("../fonts/opensans.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
      font-family: "Open Sans";
      src: url("../fonts/opensanslight.woff2") format('woff2'),
      url("../fonts/opensanslight.woff") format('woff');
      font-weight: 300;
      font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
    url("../fonts/gilroyextrabold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format('woff2'),
    url("../fonts/gilroylight.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

*, *::after, *::before {
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-header {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.main-header-logo {
    position: absolute;
    top: -16px;
    left: 70px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.6;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-header-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 45px 60px 165px 60px;

    background-color: #f7e296;
}

.inner-header-wrapper {
    padding-bottom: 50px;
    margin-bottom: 35px;
}

.user-navigation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    align-items: center;
    margin-bottom: 30px;
}

.main-header-search {
    display: flex;
    align-items: center;
    margin: 0;

    width: 440px;
}

.main-header-search input[type="search"] {
    display: block;
    padding: 5px 0 5px 21px;

    width: 355px;

    font: inherit;

    border: none;
    background-color: #f7e296;
}

.main-header-search input[type="search"]::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.main-header-search input[type="search"]:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.main-header-search input[type="search"]:focus::placeholder {
    color: rgba(0, 0, 0, 1);
}

input[type="search"].search-input:focus {
    padding-bottom: 3px;

    color: rgba(0, 0, 0, 1);

    border: none;
}

.search-button {
    position: relative;
    opacity: 0;
    padding: 8px 19px;

    font: inherit;

    text-align: center;
    color: rgba(0, 0, 0, 1);
    vertical-align: middle;

    background-color: #f7e296;
    border: 2px solid #000000;
}

.search-button:hover,
.search-button:focus {
    color: #ffffff;
    opacity: 1;

    background-color: #000000;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

input[type="search"]:focus+.search-button {
    opacity: 1;
}

.search-button::before {
    position: absolute;
    top: 45px;
    left: -357px;

    content: '';
    height: 2px;
    width: 355px;

    background-color: #000000;
}

.user-navigation-container {
    display: flex;
    width: 500px;
}

.user-navigation {
    display: flex;

    list-style: none;
    margin: 0 auto 0 0;
    padding: 0;
}

.user-navigation-item {
    position: relative;
}

.user-navigation-link {
    display: block;

    padding-left: 27px;
    padding-right: 11px;

    color: rgba(0, 0, 0, 1);
}

.user-navigation-item:nth-child(1) .user-navigation-link::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 1px;

    width: 12px;
    height: 12px;

    background: url("../img/header-user.svg") center no-repeat;
}

.user-navigation-item:hover,
.user-navigation-item:focus {
    opacity: 0.6;
}

.user-navigation-item:active {
    opacity: 0.3;
}

.user-navigation-item:nth-child(2) {
    opacity: 0.3;
}

.user-navigation-item:nth-child(2):hover,
.user-navigation-item:nth-child(2):focus {
    opacity: 1;
}

.user-navigation-item:nth-child(2):active {
    opacity: 0.6;
}

.purchase-options {
    display: flex;
    align-items: center;

    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
}

.purchase-options-item {
    position: relative;
}

.purchase-options-link {
    display: block;

    padding-left: 27px;

    color: rgba(0, 0, 0, 1);
}

.purchase-options-item:nth-child(1) {
    margin-right: 35px;
}

.purchase-options-item:hover,
.purchase-options-item:focus {
    opacity: 0.6;
}

.purchase-options-item:active {
    opacity: 0.3;
}

.purchase-options-item:nth-child(1) .purchase-options-link::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 1px;

    width: 12px;
    height: 12px;

    background: url("../img/header-compare.svg") center no-repeat;
}

.purchase-options-item:nth-child(2) .purchase-options-link::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 1px;

    width: 12px;
    height: 12px;

    background: url("../img/header-cart.svg") center no-repeat;
}

.site-navigation {
    width: 1040px;
}

.navigation-list {
    display: flex;
    align-items: flex-start;

    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-item:nth-child(1) {
    position: relative;
}

.navigation-item:nth-child(1)::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 230px;

    width: 16px;
    height: 2px;

    background-color: #b8a974;
}

.navigation-item:nth-child(1)::after {
    content: "";

    position: absolute;
    top: 4px;
    left: 237px;

    width: 2px;
    height: 16px;

    background-color: #b8a974;
}

.navigation-link {
    display: block;

    font-family: "Gilroy", "Arial", sans-serif ;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

.navigation-item:nth-child(1) .navigation-link {
    padding-right: 40px;
}

.navigation-item:nth-child(1) {
    margin-right: 280px;
}

.navigation-item:nth-child(2) {
    margin-right: 36px;
}

.navigation-item:nth-child(4) {
    margin-left: auto;
}

.navigation-link:hover,
.navigation-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.dropdown-list {
    position: absolute;
    z-index: 20;
    width: 1140px;
    left: -60px;

    display: none;
    justify-content: flex-start;

    list-style: none;
    margin: 0;
    padding: 30px 0 30px 60px;

    background-color: #f7e296;
}

.dropdown-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 200px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-link {
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
}

.dropdown-link:hover,
.dropdown-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.dropdown-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation-item:nth-child(1):hover .dropdown-list,
.navigation-item:nth-child(1):focus .dropdown-list {
    display: flex;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.slider-item:nth-child(2) {
    display: none;
}

.slider-item:nth-child(3) {
    display: none;
}

.promo-slider {
    position: relative;
    padding-bottom: 480px;
}

.slider-list {
    position: absolute;
    top: -130px;

    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.slider-wrapper {
    margin-top: 85px;
    margin-left: 125px;
}

.slider-item {
    display:  flex;
    padding: 0 0 0 80px;
}

.slider-item-slogan {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;

    margin: 0;
}

.slider-item-text {
    margin: 28px 0 55px 0;

    color: #464646;
}

.slider-item-more {
    display: block;
    width: 220px;

    text-align: center;
}

.button {
    position: relative;
    padding: 8px 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgba(0, 0, 0, 1);
}

.button::before {
    position: absolute;
    top: 16px;
    right: 0;
    z-index: -10;

    content: '';
    width: 100%;
    height: 8px;

    background-color: #f0c52e;
}

.button:hover,
.button:focus {
    background-color: #f0c52e;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.slider-item-benefits {
    margin-top: 30px;
}

.slider-item-benefits tbody{
    display: flex;
    flex-direction: column-reverse;
}

.benefits-title {
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

.slider-item-benefits tr {
    display: flex;
}

.benefits-title th {
    margin-right: 80px;
    padding: 0;

    font-weight: 300;
}

.benefits-value {
    margin-bottom: 14px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
}

.benefits-value td {
    padding: 0;
    margin-right: 77px;
}

.benefits-value td:nth-last-child(1) {
    margin-right: 0;
}

.slider-item-count {
    position: absolute;
    right: 60px;
    top: -8px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 179px;
    line-height: 179px;
    font-weight: 800;
    color: #ffffff;
}

.slider-counter {
    position: absolute;
    display: flex;
    bottom: 245px;
    right: 100px;

    list-style: none;
    padding: 0;
    margin: 0;
}

.counter-item {
    margin-right: 21px;
}

.counter-item:nth-last-child(1) {
    margin: 0
}

.counter-btn {
    position: relative;

    font-size: 0;
    width: 12px;
    height: 12px;
    padding: 0;

    border: 1px solid #000000;
    border-radius: 6px;


    cursor: pointer;
    background-color: #ffffff;
}

.counter-btn-active {
    outline: none;
}

.counter-btn-active::before {
    position: absolute;
    content: '';
    bottom: 2px;
    right: 2px;

    font-size: 0;
    width: 6px;
    height: 6px;
    padding: 0;

    border: 1px solid #000000;
    border-radius: 3px;

    background-color: #ffffff;
}

.main-categories {
    margin-bottom: 80px;
}

.main-categories-list {
    display: flex;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
}

.main-categories-item {
    width: 160px;
}

.main-categories-title {
    margin: 0;
}

.main-categories-link {
    display: block;
    position: relative;
    padding-top: 190px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.main-categories-item:nth-child(1) .main-categories-link::before {
     content: "";
     top: 0;

     position: absolute;

     width: 160px;
     height: 160px;
     background:
             url("../img/popular-1.svg") center no-repeat,
             #f7e296;
 }

.main-categories-item:nth-child(2) .main-categories-link::before {
    content: "";
    top: 0;

    position: absolute;

    width: 160px;
    height: 160px;
    background:
            url("../img/popular-2.svg") center no-repeat,
            #f7e296;
}

.main-categories-item:nth-child(3) .main-categories-link::before {
    content: "";
    top: 0;

    position: absolute;

    width: 160px;
    height: 160px;
    background:
            url("../img/popular-3.svg") center no-repeat,
            #f7e296;
}

.main-categories-item:nth-child(4) .main-categories-link::before {
    content: "";
    top: 0;

    position: absolute;

    width: 160px;
    height: 160px;
    background:
            url("../img/popular-4.svg") center no-repeat,
            #f7e296;
}

.main-categories-item:nth-child(5) .main-categories-link::before {
    content: "";
    top: 0;

    position: absolute;

    width: 160px;
    height: 160px;
    background:
            url("../img/popular-5.svg") center no-repeat,
            #f7e296;
}

.main-categories-item:nth-child(6) .main-categories-link::before {
    content: "";
    top: 0;

    position: absolute;

    width: 160px;
    height: 160px;
    background:
            url("../img/popular-6.svg") center no-repeat,
            #f7e296;
}

.main-categories-item .main-categories-link:hover::before,
.main-categories-item .main-categories-link:focus::before {
    background-color: #f0c52e;
}

.main-categories-link:active {
    opacity: 0.3;
}

.main-categories-item .main-categories-link:active::before {
    opacity: 0.3;
    background-color: #f0c52e;
}

.main-services {
    position: relative;
    margin-bottom: 190px;
}

.main-services .container {
    display: flex;
}

.main-services::after {
    content: "";

    position: absolute;
    top: 100px;

    margin: 0 auto;
    width: 100vw;
    height: 290px;
    z-index: -20;

    background-color: #e5e5e5;

}

.main-services-list {
    list-style: none;
    margin: 0;
    padding: 80px 117px 80px 0;

    border-right: 7px solid #000000;
}

.main-services-item:nth-child(1),
.main-services-item:nth-child(2) {
    margin-bottom: 30px;
}

.main-services-link {
    width: 160px;

    background: none;
    border: none;
}

.main-services-link:active {
    color: #f7e296;

    background-color: #000000;
}

.main-services-link:active::after {
    content: "";
    top: 0;
    right: -120px;

    position: absolute;
    width: 120px;
    height: 40px;

    background-color: #000000;
}

.services-description-item:nth-child(2),
.services-description-item:nth-child(3) {
    display: none;
}

.services-description {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-description-item {
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 80px 320px 80px 116px;
}

.services-title {
    margin: 0 0 35px 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
}

.services-text {
    margin: 0;
}

.services-description-item::after {
    content: "";

    display: block;
    position: absolute;
    top: 0;
    right: -300px;

    width: 100%;
    height: 100%;
}

.services-description-item:nth-child(1)::after {
    background: url("../img/delivery.svg") center no-repeat;
}

.services-description-item:nth-child(2)::after {
    background: url("../img/warranty.svg") center no-repeat;
}

.services-description-item:nth-child(3)::after {
    background: url("../img/credit.svg") center no-repeat;
}

.main-partners {
    margin-bottom: 140px;
}

.main-partners-list {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.main-partners-link {
    display: block;

    width: 260px;
    height: 100px;
}

.main-partners-item:nth-child(1) .main-partners-link {
    background: url("../img/grey-logo-1.png") center no-repeat;
}

.main-partners-item:nth-child(2) .main-partners-link {
    background: url("../img/grey-logo-2.png") center no-repeat;
}

.main-partners-item:nth-child(3) .main-partners-link {
    background: url("../img/grey-logo-3.png") center no-repeat;
}

.main-partners-item:nth-child(4) .main-partners-link {
    background: url("../img/grey-logo-4.png") center no-repeat;
}

.main-partners-link img {
    opacity: 0;
}
.main-partners-link:hover img{
    opacity: 1;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-info {
    position: relative;
    width: 500px;
}

.main-contacts {
    position: relative;
    width: 560px;
}


.main-info::before,
.main-contacts::before {
    content: "";

    position: absolute;
    top: -50px;

    width: 80px;
    height: 7px;
    background-color: #000000;
}
.title {
    margin: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
}

.main-info-title,
.main-contacts-title {
    margin-bottom: 50px;
}

.main-info-text,
.main-info-delivery,
.main-contacts-text {
    margin: 0;
}

.main-info-text {
    margin-bottom: 35px;
}

.main-info-delivery {
    margin-bottom: 65px;
}

.main-contacts-text {
    margin-bottom: 40px;
}

.main-info-list {
    list-style: none;
    margin: 0 0 60px 0;
    padding: 0 0 0 35px;
}

.main-info-item {
    position: relative;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
}

.main-info-item::before {
    content: "";

    position: absolute;
    top: 15px;
    left: -34px;

    width: 8px;
    height: 8px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}

.main-info-link {
    display: block;
    width: 260px;

    text-align: center;
}

.main-contacts-map {
    display: block;
    margin-bottom: 60px;
}

.main-contacts-link {
    display: block;
    width: 260px;

    text-align: center;

    cursor: pointer;
}

.site-footer {
    width: 100%;

    margin-top: 50px;
    padding-bottom: 67px;
    background-color: #464646;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;

    padding-top: 65px;
}

.footer-top-wrapper,
.footer-mid-wrapper,
.footer-bottom-wrapper {
    display: flex;
}

.footer-top-wrapper {
    margin-bottom: 40px;
}

.site-footer-logo {
    margin-right: auto;
}

.site-footer-logo:hover,
.site-footer-logo:focus {
    opacity: 0.6;
}

.site-footer-logo:active {
    opacity: 0.3;
}

.footer-user-navigation {
    display: flex;

    list-style: none;
    margin: 0 40px 0 0;
    padding: 0;
}

.footer-purchase-options {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-user-navigation-item {
    position: relative;
}

.footer-user-navigation-item:hover,
.footer-user-navigation-item:focus {
    opacity: 0.6;
}

.footer-user-navigation-item:active {
    opacity: 0.3;
}

.footer-purchase-options-item {
    position: relative;
}

.footer-user-navigation-item:nth-child(2) {
    opacity: 0.3;
}

.footer-user-navigation-item:nth-child(2):hover,
.footer-user-navigation-item:nth-child(2):focus {
    opacity: 1;
}

.footer-user-navigation-item:nth-child(2):active {
    opacity: 0.6;
}

.footer-purchase-options-item:hover,
.footer-purchase-options-item:focus {
    opacity: 0.6;
}

.footer-purchase-options-item:active {
    opacity: 0.3;
}

.footer-login-link {
    display: block;

    padding-left: 30px;
}

.footer-user-navigation-item:first-child .footer-login-link::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 1px;

    width: 12px;
    height: 12px;

    background: url("../img/footer-user.svg") center no-repeat;
}

.footer-purchase-options-item:nth-child(1) {
    margin-right: 40px;
}

.footer-purchase-options-item:nth-child(1)::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 1px;

    width: 12px;
    height: 12px;

    background: url("../img/footer-compare.svg") center no-repeat;
}

.footer-purchase-options-item:nth-child(2)::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 1px;

    width: 12px;
    height: 12px;

    background: url("../img/footer-cart.svg") center no-repeat;
}

.footer-login-link,
.footer-purchase-options-link {
    color: #ffffff;
    opacity: 0.7;
}

.footer-purchase-options-link {
    display: block;

    padding-left: 25px;
}

.footer-mid-wrapper {
    justify-content: space-between;

    margin-bottom: 65px;
}

.footer-navigation-list {
    display: flex;
    order: 2;
    justify-content: space-between;

    width: 440px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-navigation-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-navigation-link {
    display: block;

    font-family: "Gilroy", "Arial", sans-serif ;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}



.footer-address {
    order: 1;

    margin: 0;

    color: #ffffff;
}

.footer-telephone {
    order: 3;

    margin: 0;

    color: #ffffff;
}

.footer-bottom-wrapper {
    position: relative;

    align-self: flex-end;
    justify-content: space-between;

    width: 660px;
}

.footer-bottom-wrapper::before {
    content: "";

    position: absolute;
    top: 13px;
    left: -480px;

    width: 80px;
    height: 7px;

    background-color: #ffc600;
}

.footer-socials {
    display: flex;
    justify-content: space-between;

    width: 160px;

    list-style: none;
    margin: 0;
    padding: 0 9px;
}

.social-button {
    display: block;

    opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
    opacity: 0.6;
}

.social-button:active {
    opacity: 0.1;
}

.footer-copyright:hover,
.footer-copyright:focus {
    opacity: 0.6;
}

.footer-copyright:active {
    opacity: 0.3;
}

.modal {
    display: flex;
    flex-direction: column;

    z-index: 100;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 960px;

    box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.2);
}

.modal-letter {
    padding: 90px 100px 100px 80px;

    background-color: #ffffff;
}

.modal-letter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
}

.modal-letter-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.modal-letter-item:nth-last-child(1) {
    margin-bottom: 40px;
}

.modal-letter-item label {
    margin-bottom: 10px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.modal-cover-letter {
    flex-grow: 1;
}

.modal-name,
.modal-email {
    width: 360px;

    padding: 13px 20px 13px 20px;

    border:none;
    background-color: #f2f2f2;
}

.modal-cover-letter {
    width: 100%;
    resize: none;

    padding: 13px 20px 13px 20px;

    border:none;
    background-color: #f2f2f2;
}

.modal-letter-button {
    position: relative;
    display: block;
    z-index: 0;

    width: 200px;

    border: none;
    background: none;
}

.modal-close-button {
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 25px;
    background-color: #f0c52e;
    opacity: 0.5;
}

.modal-close-button::before {
    content: "";

    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -15px;
    transform: rotate(45deg);

    width: 30px;
    height: 2px;

    background: #ffffff;
}

.modal-close-button::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -15px;
    transform: rotate(-45deg);

    width: 30px;
    height: 2px;

    background: #ffffff;
}

.modal-close-button:hover,
.modal-close-button:focus {
    opacity: 1;
}

.modal-close-button:active {
    opacity: 0.3;
}

.modal-map {
    margin: 0;
}

.modal-overlay {
    z-index: 90;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000000;
    opacity: 0.2;
}

.modal-close {
    display: none;
}

.page-navigation-wrapper {
    padding: 0 60px;
    margin-bottom: 45px;
}

.page-title {
    margin: 0 0 30px 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
}

.breadcrumbs {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs-item:not(:last-child) {
    position: relative;

    margin-right: 40px;
}

.breadcrumbs-item::before {
    content: "";

    position: absolute;
    top: 13px;
    right: -21px;
    transform: rotate(45deg);

    width: 6px;
    height: 6px;

    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
}

.breadcrumbs-link,
.breadcrumbs-current{
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(0, 0, 0, 0.1);
}

.inner-container {
    display: flex;
}

.filter {
    width: 328px;

    padding-left: 60px;
}

.inner-content-wrapper {
    padding-left: 72px;

    width: 832px;
}

.filter-title {
    margin: 0 50px 100px 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.filter-item-title {
    position: relative;

    margin: 0 0 35px 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.filter-item-title::before {
    content: "";

    position: absolute;
    top: -12px;
    left: 0;

    width: 200px;
    height: 2px;

    background-color: #000000;
}

.filter-item-price {
    margin: 0 0 50px 0;
}

.filter-color-list {
    list-style: none;
    margin: 0 0 50px 0;
    padding: 0;
}

.filter-color-item label {
    padding-left: 40px;

    line-height: 40px;
}

.filter-checkbox:disabled+label {
    opacity: 0.25;
}

.filter-checkbox:hover+label .custom-checkbox{
    opacity: 0.6;
}

.filter-bluetooth-list {
    list-style: none;
    margin: 0 0 50px 0;
    padding: 0;
}

.filter-bluetooth-item label {
    padding-left: 40px;

    line-height: 40px;
}

.filter-radio:disabled+label {
    opacity: 0.25;
}

.filter-checkbox:hover+label .custom-checkbox {
    opacity: 0.6;
}

.filter-button {
    position: relative;
    display: block;
    z-index: 0;

    width: 200px;

    border: none;
    background: none;
}

.sort {
    display: flex;
    align-items: center;

    margin-bottom: 70px;
}

.sort-title {
    margin: 0 50px 0 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.sort-list {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.sort-item:not(:nth-last-child(1)) {
    margin-right: 30px;
}

.sort-link {
    color: rgba(0, 0, 0, 0.3);

    cursor: pointer;
}

.sort-active {
    color: rgba(0, 0, 0, 1);
}

.sort-link:hover,
.sort-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-link:active {
    color: rgba(0, 0, 0, 1);
}

.sort-priority {
    display: flex;

    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
}

.sort-priority-item {
    opacity: 0.2;
}

.sort-priority-item:nth-child(1) {
    margin-right: 19px;
}

.sort-priority-item:nth-child(1) .priority-link {
    display: block;
    width: 0;
    height: 0;

    cursor: pointer;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #000000;
}

.sort-priority-item:nth-child(2) .priority-link {
    display: block;
    width: 0;
    height: 0;

    cursor: pointer;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000000;
}

.priority-active {
    opacity: 1;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-item {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    margin-bottom: 45px;
    width: 360px;
}

.catalog-item:nth-last-child(1),
.catalog-item:nth-last-child(2) {
    margin-bottom: 35px;
}
.catalog-item-title {
    order: 2;

    max-width: 260px;
    margin: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.catalog-item-image {
    display: block;
    position: relative;

    order: 1;
    flex-grow: 1;

    margin-bottom: 35px;

    cursor: pointer;
}

.catalog-item-price {
    order: 3;

    margin-left: auto;
}

.catalog-item-active {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(238, 238, 238, 0.7);
}

.add-to-cart {
    position: relative;
    display: block;
    z-index: 0;
    margin-bottom: 20px;

    width: 200px;

    cursor: pointer;
    border: none;
    background: none;
}

.add-to-compare {
    font: inherit;
    opacity: 0.5;

    cursor: pointer;
    border: none;
    background: none;
}

.add-to-compare:hover,
.add-to-compare:focus {
    opacity: 1;
}

.add-to-compare:active {
    opacity: 0.2;
}

.catalog-item-image:hover .catalog-item-active,
.catalog-item-image:focus .catalog-item-active {
    display: flex;
}

.pagination {
    display: flex;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list {
    display: flex;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;

}

.pagination-link-prev {
    padding: 23px 30px;
    margin-right: auto;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.pagination-link-next {
    padding: 23px 30px;
    margin-left: auto;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.pagination-link-prev:hover,
.pagination-link-prev:focus,
.pagination-link-next:hover,
.pagination-link-next:focus {
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-link-prev:active,
.pagination-link-next:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item {
    margin-right: 20px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    display: block;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-link-current {
    color: rgba(0, 0, 0, 1);
}