@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format('woff2'),
         url("../fonts/opensans.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
      font-family: "Open Sans";
      src: url("../fonts/opensanslight.woff2") format('woff2'),
      url("../fonts/opensanslight.woff") format('woff');
      font-weight: 300;
      font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
    url("../fonts/gilroyextrabold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format('woff2'),
    url("../fonts/gilroylight.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

*, *::after, *::before {
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-header {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.main-header-logo {
    position: absolute;
    top: -16px;
    left: 70px;
}

.main-header-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 45px 60px 165px 60px;

    background-color: #f7e296;
}

.user-navigation-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main-header-search {
    display: flex;
    align-items: center;
    margin: 0;

    width: 440px;
}

.main-header-search input[type="search"] {
    display: block;
    padding: 5px 0 5px 21px;

    width: 355px;

    color: rgba(0, 0, 0, 0.3);

    border: none;
    background-color: #f7e296;

}

input[type="search"].search-input:focus {
    padding-bottom: 3px;

    color: rgba(0, 0, 0, 1);

    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
}

/*.main-header-search::before {
    position: absolute;
    top: 69px;
    left: 91px;

    content: "Поиск по сайту";

    color: rgba(0, 0, 0, 0.3);
}

.main-header-search::before:hover{
    color: rgba(0, 0, 0, 0.6);
}
*/

.search-button {
    display: block;

    padding: 8px 19px;

    font: inherit;

    text-align: center;
    color: rgba(0, 0, 0, 1);
    vertical-align: middle;

    background-color: #f7e296;
    border: 2px solid #000000;
}

.search-button:hover,
.search-button:focus {
    color: #ffffff;

    outline: none;
    background-color: #000000;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.main-header-search:focus .search-button {
    display: block;
}

.user-navigation {
    list-style: none;
    margin: 0 200px 0 auto;
    padding: 0;
}

.login-link {
    padding-left: 27px;
    padding-right: 11px;

    color: rgba(0, 0, 0, 1);
}

.login-link:hover,
.login-link:focus {
    outline: none;

    color: rgba(0, 0, 0, 0.6);
}

.login-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.purchase-options {
    display: flex;
    align-items: center;

    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
}

.purchase-options-link {
    padding-left: 27px;
    padding-right: 11px;

    color: rgba(0, 0, 0, 1);
}

.purchase-options-link:hover,
.purchase-options-link:focus {
    outline: none;

    color: rgba(0, 0, 0, 0.6);
}

.purchase-options-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation-list {
    display: flex;
    align-items: flex-start;

    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-link {
    display: block;

    font-family: "Gilroy", "Arial", sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

.navigation-item:nth-child(1) .navigation-link {
    padding-right: 40px;
}

.navigation-item:nth-child(1) {
    margin-right: 280px;
}

.navigation-item:nth-child(2) {
    margin-right: 36px;
}

.navigation-item:nth-child(4) {
    margin-left: auto;
}

.navigation-link:hover,
.navigation-link:focus {
    outline: none;

    color: rgba(0, 0, 0, 0.6);
}

.navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.dropdown-list {
    position: absolute;
    display: none;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;

    background-color: #f7e296;
}

.dropdown-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 200px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-link {
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
}

.dropdown-link:hover,
.dropdown-link:focus {
    outline: none;

    color: rgba(0, 0, 0, 0.6);
}

.dropdown-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation-item:nth-child(1):hover .dropdown-list,
.navigation-item:nth-child(1):focus .dropdown-list {
    display: flex;
}

